<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KT | {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='img/logo2.png') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
   
     <nav class="nav-navigator">
        <img src="{{url_for('static', filename='img/logo1.png')}}" alt="Logo KeepersTlax" class="logo">
            <h1>KeepersTlax</h1>
            <a href="{{url_for('home')}}">Inicio</a>
            <a href="{{url_for('guantes')}}">Guantes</a>
            <a href="{{url_for('textiles')}}">Textiles</a>
            <a href="{{url_for('accesorios')}}">Accesorios</a>
            <a href="{{url_for('botines')}}">Botines</a>

            <!-- Menu Desplegable-->
            <div class="dropdown">
            <span> Marcas <i class="fas fa-chevron-down"></i></span>
            <div class="dropdown-content">
                <a href="#">Nike</a>
                <a href="#">Adidas</a>
                <a href="#">Puma</a>
                <a href="#">Reusch</a>
            </div>
        </div>

        <!-- Fin Menu Desplegable-->
         <div class="icons">
         <div class="cart-icon">
            <a href="#"><img src="{{ url_for('static', filename='img/cart-icon.png') }}" alt="Carrito de Compras"></a>
         </div>
         <div class="user-icon">
            <a href="#"><img src="{{ url_for('static', filename='img/user-icon.png') }}" alt="Usuario"></a>
         </div>
         <div class="search-icon">
            <a href="#"><img src="{{ url_for('static', filename='img/search-icon.png') }}" alt="Buscar"></a>
         </div>
         </div>
      </nav>
    </head>
    <body>

        <!--- Cuerpo Principal de la aplicación  -->
        <main class="main-container">
            {% block content %}
            {% endblock %}
        </main>
        <!--- Fin Cuerpo Principal de la aplicación  -->

        <footer class="footer-section">
            <p>Keepers Tlax &copy; 2026</p>
            <div class="social">
                <h2>"Siguenos en Nuestras Redes"</h2>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/index.js') }}" async defer></script>
    </body>
</html>