/* Estilo general del navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
}

/* Estilo del título del navbar */
nav h1 {
    font-size: 24px;
    margin: 0;
}

/* Estilo de los enlaces del navbar */
nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s;
}

/* Hover en los enlaces del navbar */
nav a:hover {
    color: #007BFF;
}

/* Estilo del menú desplegable dentro del navbar */
nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown span {
    cursor: pointer;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav .dropdown span:hover {
    background-color: #0056b3;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    min-width: 150px;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav .dropdown-content a:hover {
    background-color: #ddd;
}

/* Estilo del footer */
.footer-section {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    
}